*{
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
    font-size: 20px;
}
/* 導覽列 */
nav{
    display: grid;
    grid-template-columns: 30% 60% 10%;
    background: #eee;
    box-shadow:0 5px 10px rgba(0.5) ;
    padding: 20px 30px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 3;
    opacity: 0.9;
}
#logo img{
    width: 200px;
}
#coin img{
    width: 50px;

}
#link a{
    padding: 0 30px;
    text-decoration: none;
    color: #999999;
    transition: 0.5s;
}
#link a:hover{
color: rgb(211, 160, 49);
}
/* 最新商品 */
/* 元素一 元素二 在元素一內的元素二 */
#banner  div{
    /* 100vh銀幕高 */
    height: 100vh;
    margin:  auto;
    object-fit: cover;
    background-size: cover;

    

}

.banner1{
    background-image: url(./img/babber1.jpg);
    background-size: cover;
}
.banner2{
    background-image: url(./img/babber2.jpg);
    background-size: cover;
}
.banner3{
    background-image: url(./img/babber3.jpg);
    background-size: cover;
}
#banner{
    text-align: center;
    color: #fff;
}
#banner h1{
    padding: 30px;
    margin-top: 200px;
    font-size: 100px;
    text-shadow: 0 5px 5px  rgba(0,0,0,0,0.3);
}
#banner p{
    padding: 30px;
    text-shadow: rgba(0.5);
    font-size: 30px;
}
#banner hr{
width: 80%;
margin: 0 auto;
height: 5px;
background: #fff;
border: none;
}
#banner .slick-prev{
    left: 50px;
    z-index: 2;
    transform: scale(1.5);
}
#banner .slick-next{
    right: 50px;
    z-index: 2;
    transform: scale(1.5);
}
}
#banner .slick-dots{
    bottom:25;
}


/* 商品類型 */
text{
    margin: 20px;
}
#product > div{
    display: grid;
    grid-template-columns: 60% 40%;
}
#product .pic {
width: 100%;
height: 50;
object-fit: cover;
padding: 20px 200px;

}
#product .text{
  padding: 10px auto 10px;
margin: 1px;
}
#product .text h1{
    padding: 20px 300px 20px;
    margin: 20px;
}
#product .text p{
    padding: 20px 300px 20px;
    margin: 1px 1px 1px;
    line-height: 2;
}

#product > div:nth-child(2){
grid-template-areas:"pic text" ;
grid-template-columns:40% 60%;
} 
#product > div:nth-child(2) .text{
    grid-area: text;
}
#product > div:nth-child(2) .pic{
    grid-area: pic;
}
.button {
    padding: 8px 50px;
    /* 邊框：粗細 樣式 顏色 */
    border: 1px solid #226641;
    text-decoration: none;
    color: #226641;
    transition: 0.5s;
    margin: 400px  ;
}

.button:hover {
    background: #226641;
    color: #fff;
}
/* 地圖 */
#map{
align-items: center;
text-align: center;
color: #664622;
}
#map .text h1{
    margin: 20px auto ;
    text-align: center;

}

#map img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* border-radius: 50%; 寬高要相同 */
    object-fit: cover;
    display: block;
    /* 顯示模式：區塊 */
    margin: 0 auto;
    /* 區塊元素 block */
    transition: 0.5s;
}
#map hr{
    width: 50%;
    margin: 0 auto;
    height: 5px;
    background: rgba(78, 78, 78, 0.164);
    border: none;

}
/* 菜單 */
#menu{
    width: 1280px;
    margin: 50px auto;
}
#menu div:focus{
    outline: none;
}
#menu img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: 0.5s;
}
#menu img:hover{
    border-radius:5px
}
#menu h2{
    text-align: center;
    text-decoration: none;
    color: #664622;
    transition: 0.5s;
    padding: 20px;
}
#menu h2:hover {
    color: rgb(3, 3, 0);}
/* 頁尾 */
footer{
    background: #9919;
    padding: 0px 20px ;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    text-align: center;

    
}
#footer-link{
color: #000;
margin: 20px;
padding: 10px 20px;
text-decoration: none;
text-align: center;

}
#footer-link a{
    color: #226641;
    text-decoration: none;
    padding: 0 20px;
    transition: 0.5s;
}